# ================= AIRFLOW =================
AIRFLOW_UID=1000
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth

# ================= AWS =================
AWS_REGION=
S3_BUCKET=
S3_PREFIX=

# ================= S3 KEYS =================
S3_KEY_RATES=
S3_KEY_AIRBNB=

# ================= RDS MYSQL =================
DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

# ================= API =================
API_URL=
API_KEY=

# ================= LOCAL FILE =================
CSV_LOCAL_PATH=
