name: Data Pipeline CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Lint Python scripts
        run: |
          python -m py_compile scripts/*.py dags/*.py

      - name: Validate SQL files
        run: |
          ls sql/

      - name: Pipeline validation success
        run: echo "Pipeline checks passed!"
